/* Section */
@import "../base/variables";

.titulo-principal {

    color: black;
    @import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
    font-family: 'Oooh Baby', cursive;
    font-style: normal;
    font-size: xx-large;
    font-weight: 300;
    display: flex;
    justify-content: center;
    display: grid;

}

section {
    background-color: rgb(218, 191, 218);
    display: flex;
    justify-content: center;
    margin-top: 0%;
    margin-bottom: 1%;
    align-items: center;
    display: grid;
}

.section-index {
    background-color: transparent
}



section p {
    margin: 5%;
    display: flex;
    justify-content: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.varios-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    display: grid;

    grid-template-areas:
        "header-up header-left header-right"
        "header-up center-left center-right"
}

.photo-item {

    margin: 3rem 3rem 3rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: grid;
    row-gap: 0px;
    column-gap: 0px;

}

.titulo-secundario {
    margin: 15rem 10rem 3rem 3rem;
    height: 3rem 3rem 3rem 3rem;
    grid-area: header-up;
}


.photo-one {
    grid-area: header-left;
    margin-top: 1rem;
}

.photo-two {
    grid-area: header-right;
}

.photo-three {
    grid-area: center-left;
}

.photo-four {
    grid-area: center-right;
}

/* Media query - Mobile Section */

@media only screen and (max-width: 320px) {


    .varios-container {
        display: flex;
        flex-direction: column;
        background-color: rgb(240, 155, 146);
    }

    img {
        width: 80%;
    }



}

/* Media query - Tablet Section */

@media only screen and (min-width: 321px) and (max-width: 768px) {


    .varios-container {
        display: flex;
        flex-direction: column;
        background-color: rgb(240, 155, 146);
    }

    img {
        width: 80%;
    }


}

/* Media query - Desktop Section */

@media screen and (min-width: 769px) and (max-width: 1024px) {



    .varios-container {
        display: flex;
        flex-direction: column;
        background-color: rgb(240, 155, 146);
    }

    img {
        width: 80%;
    }



}